

.column {
    float: right;
    width: 40%;
    padding: 30px;
   
  }
 
  body {background-color: #c3dcf8}



  @font-face {
    font-family: wordUp;
    src: url("../font/crystalradiokit.ttf");
  }
  
  .titleHeader{
    display: block;
    z-index: 3;
  }
  
  h1{ 
    font-family: wordUp;
    color: purple;
    font-size: 80px;
    margin: auto;
    text-align: center;

  }
  

  footer {
    text-align: center;
    padding: 5px;
    color: rgb(255, 255, 255);
    bottom: 0%;
  position: relative;
  }

  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
  }