

.column {
    float: left;
    width: 40%;
    padding: 10px;
  }
 




  @font-face {
    font-family: wordUp;
    src: url("../font/crystalradiokit.ttf");
  }
  
  .titleHeader{
    display: block;
    z-index: 3;
  }
  
  h1{ 
    font-family: wordUp;
    color: purple;
    font-size: 80px;
    margin: auto;
    text-align: center;
  }
  