

.column {
    float: right;
    width: 40%;
    padding: 30px;
   
  }
 
  body {background-color: #c3dcf8}



  @font-face {
    font-family: wordUp;
    src: url("../font/crystalradiokit.ttf");
  }
  
  .titleHeader{
    display: block;
    z-index: 3;
  }
  
  h1{ 
    font-family: wordUp;
    color: purple;
    font-size: 80px;
    margin: auto;
    text-align: center;
  }
  

  footer {
    text-align: center;
    padding: 3px;
    color: white;
  }