.leftArrow {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 60vh;
    height: 20px;
    width: 70px;
   
  }

  @font-face {
    font-family: wordUp;
    src: url("../font/crystalradiokit.ttf");
  }
  
  .titleHeader{
    display: block;
    z-index: 11;
  }
  
  h1{ 
    font-family: wordUp;
    color: purple;
    font-size: 150px;
    margin-top: 200px;
    text-align: center;
  }
  
  .info {
    font-family: monospace;
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    left: 20px;
    top: 20px;
  }
  