.title {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  text-align: center;
  padding-top: calc(50vh - 70px);
  font-family: sans-serif;
}

.title > h1 {
  height: 70px;
}

body {
          background-image: url('https://cdn.discordapp.com/attachments/879956100823269447/1046609286429691946/Untitled_Artwork.jpg');
          background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
        }