/* body{
    background-color: blueviolet;
} */
 

h1{ 
  font-family:inherit;
  color: purple;
  font-size: 200px;
  margin-left: 1000px;
  text-align: center;
}

button{
  border: none;
  background-color: rgb(213, 136, 184);
  padding: 30px 100px;
  text-align:right;
  margin-left: 2000px;
  font-size: 100;
}  



.cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    opacity: 0.56;
  }

  .cls-2, .cls-4 {
    mix-blend-mode: multiply;
  }

  .cls-3 {
    opacity: 0.55;
    mix-blend-mode: darken;
  }

  .cls-5 {
    opacity: 0.97;
  }

 #baseImage{
  width: 100vw;
 }