/* body{
    background-color: blueviolet;
} */
 

#titleHeader{ 
  font-family: wordUp;
  color: purple;
  font-size: 200px;
  text-align: center;
  display: block;
  margin: auto;
}

button{
  background-color: pink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 50px;


}  

.button4 {font-size: 40px;}

.cls-1 {
    isolation: isolate;
  }

  .cls-2 {
    opacity: 0.56;
  }

  .cls-2, .cls-4 {
    mix-blend-mode: multiply;
  }

  .cls-3 {
    opacity: 0.55;
    mix-blend-mode: darken;
  }

  .cls-5 {
    opacity: 0.97;
  }

 #baseImage{
  width: 100vw;
 }